<section id="miscellaneous">
    <div class="page-header">
        <h1>Miscellaneous</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3 id="breadcrumbs">Breadcrumbs</h3>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Library</a>
                </li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="col-lg-6">
            <h3>Collapse</h3>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Navs
================================================== -->

    <div class="row">
        <div class="col-lg-6">
            <h3 id="tabs">Popovers</h3>
            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Popover on top
            </button>
            <script>
                $(function() {
                    $('[data-toggle="popover"]').popover()
                });
            </script>
        </div>

        <div class="col-lg-6">
            <h3>Progress</h3>
            <progress class="progress progress-striped" value="10" max="100">10%</progress>
            <progress class="progress progress-striped progress-success" value="25" max="100">25%</progress>
            <progress class="progress progress-striped progress-info" value="50" max="100">50%</progress>
            <progress class="progress progress-striped progress-warning" value="75" max="100">75%</progress>
            <progress class="progress progress-striped progress-danger" value="100" max="100">100%</progress>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <h3>List group</h3>
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">
                    <span class="label label-default label-pill pull-xs-right">2</span>
                    Dapibus ac facilisis in
                </a>
                <a href="#" class="list-group-item active">
                    <span class="label label-success label-pill pull-xs-right">43</span>
                    Morbi leo risus
                </a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <hr>

    <!-- Labels
================================================== -->

    <div class="row">
        <div class="col-lg-4">
            <h3 id="labels">Labels</h3>
            <span class="label label-pill label-default">Default</span>
            <span class="label label-pill label-primary">Primary</span>
            <span class="label label-pill label-success">Success</span>
            <span class="label label-pill label-info">Info</span>
            <span class="label label-pill label-warning">Warning</span>
            <span class="label label-pill label-danger">Danger</span>
        </div>
        <div class="col-lg-4">
            <h3 id="badges">Badges</h3>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                Tooltip on top
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                Tooltip on right
            </button>
        </div>
        <div class="col-lg-4">
            <h3 id="badges">Input groups</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </span>
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" aria-label="Radio button for following text input">
                        </span>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <!-- Well Sizes
================================================== -->
    <hr>
    <h2>Well Sizes</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-sm">
                .well-sm
            </div>
            <div class="well">
                .well
            </div>
            <div class="well well-lg">
                .well-lg
            </div>
        </div>
    </div>
    <hr>

</section>
